<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegistServlet</servlet-name>
        <servlet-class>Owlery.UserControllers.UserRegistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeServlet</servlet-name>
        <servlet-class>Owlery.UserControllers.UserHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvlMailAjaxServlet</servlet-name>
        <servlet-class>Owlery.AjaxControllers.AvlMailAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InboxServlet</servlet-name>
        <servlet-class>Owlery.MailControllers.InboxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailViewServlet</servlet-name>
        <servlet-class>Owlery.MailControllers.MailViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>Owlery.MailControllers.SendMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>Owlery.UserControllers.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyMailServlet</servlet-name>
        <servlet-class>Owlery.MailControllers.ReplyMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardMailServlet</servlet-name>
        <servlet-class>Owlery.MailControllers.ForwardMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMailServlet</servlet-name>
        <servlet-class>Owlery.MailControllers.DeleteMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchiveMailServlet</servlet-name>
        <servlet-class>Owlery.ArchiveMailControllers.ArchiveMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchiveMailBoxServlet</servlet-name>
        <servlet-class>Owlery.ArchiveMailControllers.ArchiveMailBoxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArchiveMailServlet</servlet-name>
        <servlet-class>Owlery.ArchiveMailControllers.DeleteArchiveMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSettingsServlet</servlet-name>
        <servlet-class>Owlery.UserControllers.UserSettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegistServlet</servlet-name>
        <url-pattern>/UserRegistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeServlet</servlet-name>
        <url-pattern>/UserHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvlMailAjaxServlet</servlet-name>
        <url-pattern>/AvlMailAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InboxServlet</servlet-name>
        <url-pattern>/InboxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailViewServlet</servlet-name>
        <url-pattern>/MailViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/SendMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyMailServlet</servlet-name>
        <url-pattern>/ReplyMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardMailServlet</servlet-name>
        <url-pattern>/ForwardMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMailServlet</servlet-name>
        <url-pattern>/DeleteMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchiveMailServlet</servlet-name>
        <url-pattern>/ArchiveMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchiveMailBoxServlet</servlet-name>
        <url-pattern>/ArchiveMailBoxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArchiveMailServlet</servlet-name>
        <url-pattern>/DeleteArchiveMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSettingsServlet</servlet-name>
        <url-pattern>/UserSettingsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
